<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<form action="#" th:action="@{/todo/create}" th:object="${todo}" method="post">
    <table>
        <tr>
            <td><p>Name: </p></td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>

        <tr>
            <td><p>Desc: </p></td>
            <td><input type="text" th:field="*{desc}"></td>
        </tr>

        <tr>
            <td><p>Due Date: </p></td>
            <td><input type="date" th:field="*{dueDate}"></td>
        </tr>

        <tr>
            <td><br/></td>
        </tr>

        <tr>
            <td><input type="submit" value="Submit"/></td>
            <td><input type="reset" value="Reset"/></td>
        </tr>
    </table>
</form>