<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<form th:action="@{'/todo/update'(id=${todo.id})}" th:object="${todo}" method="post">

    <p>Name: <input type="text" th:field="${todo.name}"/></p>

    <p>Desc: <input type="text" th:field="${todo.desc}"></p>

    <p>Due Date: <input type="date" th:field="${todo.dueDate}"></p>

    <p>Is Done? <input th:type="checkbox" th:name="id" th:value="${todo.id}" th:checked="${todo.done}"></p>

    <p><input type="submit" value="Submit"/></p>
</form>