<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<form th:action="@{'/todo/edit'(id=${todo.id})}" th:object="${todo}" method="post">

    <table>
        <tr>
            <td><p>Name:</td>
            <td><input type="text" th:field="${todo.name}"/></p></td>
        </tr>
        <tr>
            <td><p>Desc:</td>
            <td><input type="text" th:field="${todo.desc}"></p></td>
        </tr>
        <tr>
            <td><p>Due Date:</td>
            <td><input type="date" th:value="${todo.dueDate.getTime()}" th:field="*{dueDate}"/></p></td>
        </tr>
        <tr>
            <td><p>Is Done?</td>
            <td><input th:type="checkbox" th:name="done" th:checked="${todo.done}"></p></td>
        </tr>

        <input th:type="hidden" th:name="id" th:value="${todo.id}"/>
        <td>
            <p><input type="submit" value="Submit"/></p>
        </td>
    </table>
    <p th:text="${message}"></p>
</form>